---

import { getRelativeLocaleUrl } from "astro:i18n";
import { LOCALES } from "@/lib/i18n-utils";
import { LocaleSwitcherDropdown } from "@/components/ui/locale-switcher-dropdown";

interface Props {
    currentLocale: string;
}

const { currentLocale } = Astro.props;

// Get current pathname without locale prefix
const pathname = Astro.url.pathname;
const localePattern = new RegExp(`^/(${LOCALES.join("|")})`);
const cleanPathname = pathname.replace(localePattern, "") || "/";

const localesData = LOCALES.map((locale) => ({
    code: locale,
    href: getRelativeLocaleUrl(locale, cleanPathname),
}));
---

<div class="locale-switcher">
    <LocaleSwitcherDropdown
        client:load
        currentLocale={currentLocale}
        locales={localesData}
    />
</div>

